/* Sticky footer styles
 -------------------------------------------------- */

html, body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -40px;
}

/* Set the fixed height of the footer here */
#push, #footer {
	height: 40px;
}
#footer {
	background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* Custom page CSS
 -------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
	padding-top: 40px;
}
.container .credit {
	margin: 10px 0;
}

code {
	font-size: 80%;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

form .table td {
		vertical-align: top;
}

form .table th, .table td { 
     border-top: none; 
 }

#overview-loadinggif {
	height: 400px;
	width: 699px;
}
#overview-loadinggif img{
	width: 235px;
	height: 235px;
	margin: 82px 232px;
}
 
#sortableouterwrap {
	overflow-x: auto;
	max-width: 700px;
}
.sortablewrapper {margin:0; padding:0}
.sortablewrapper * {margin:0; padding:0}
.sortablewrapper {font:10px Verdana, Arial; width:825px; margin:50px auto}
.sortablewrapper .sortable {width:823px; border:1px solid #ccc; border-bottom:none}
.sortablewrapper .sortable th {padding:4px 6px 6px; background:#444; color:#fff; text-align:left; color:#ccc}
.sortablewrapper .sortable td {padding:2px 4px 4px; background:#fff; border-bottom:1px solid #ccc}
.sortablewrapper .sortable .head:hover, .sortable .desc:hover, .sortable .asc:hover {color:#fff}
.sortablewrapper .sortable .even td {background:#f2f2f2}
.sortablewrapper .sortable .odd td {background:#fff}
