{% extends "base.html" %}

{% block title %} - About{% endblock %}

{% block navbar %} 
{% with active='about' %} 
{% include "navbar.html" %}
{% endwith %}
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>About this project</h1>
</div>
<p class="lead">
This was the group project for course CS5226 (Database Tuning) at NUS (National University of Singapore). Team members:</p>
<ul>
	<li>Xinyu Li (xinyusoc@gmail.com)</li>
	<li>Hou Li (houli@nus.edu.sg)</li>
	<li>Jun Wu (wj.arsenal.faith@gmail.com)</li>
	<li>Jeremie Miserez (jeremie@miserez.org)</li>
</ul>
{% endblock %}
