{% extends "base.html" %}

{% block title %} - Add a new dashboard{% endblock %}

{% block navbar %}
{% with active='dropdown' %}
{% include "navbar.html" %}
{% endwith %}
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>Add a new dashboard</h1>
</div>
<p class="lead">
	You can add a new dashboard by selecting a database connection to monitor:
</p>

<form class="form-horizontal" id="adddashboardform" action="/dashboard/add" method="post">
	{% csrf_token %}
	{{ form.non_field_errors }}
	<div class="well">
		{% for hidden in form.hidden_fields %}
		{{ hidden }}
		{% endfor %}
		{% for field in form.visible_fields %}
		<div class="fieldWrapper">
			<div class="control-group">
				<label class="control-label" for="{{field.auto_id}}">{{field.label}}</label>
				<div class="controls">
					{{ field }}
					{{ field.errors }}
				</div>
			</div>
		</div>
		{% endfor %}
		<div class="pull-right">
			<button type="button" id="checkbtn" class="btn btn-warning">
				Check connection...
			</button>
			<button type="submit" class="btn btn-primary">
				Add dashboard!
			</button>
		</div>
		<div class="clearfix"></div>
	</div>
</form>
{% endblock %}

{% block js %}
<script type="text/javascript">
	$("#checkbtn").click(function() {
		$("#checkbtn").removeClass("btn-warning btn-success btn-danger btn-info").addClass("btn-info");
		$("#checkbtn").text("(Pending) Check connection...");
		$.post('/dashboard/check', $('#adddashboardform').serializeArray(), function(data) {
			if (data === "Ok") {
				$("#checkbtn").removeClass("btn-warning btn-success btn-danger btn-info").addClass("btn-success");
				$("#checkbtn").text("(OK) Check connection...");
			} else {
				$("#checkbtn").removeClass("btn-warning btn-success btn-danger btn-info").addClass("btn-danger");
				$("#checkbtn").text("(Fail) Check connection...");
			}
		});
	}); 
</script>
{% endblock %}
