<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>oracle &middot; dashboard{% block title %}{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- CSS -->
		<link href="/static/lib/bootstrap-2.3.1/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/lib/bootstrap-2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="/static/lib/bootstrap-datetimepicker-0.0.10/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
		<link href="/static/custom.css" rel="stylesheet">
		{% block css %}{% endblock %}

		<!-- Javascript  -->
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="/static/lib/bootstrap-2.3.1/js/html5shiv.js"></script>
		<![endif]-->
		<script src="/static/lib/jquery-1.9.1/jquery-1.9.1.min.js"></script>
		<script src="/static/lib/bootstrap-2.3.1/js/bootstrap.min.js"></script>
		<script src="/static/lib/bootstrap-datetimepicker-0.0.10/js/bootstrap-datetimepicker.min.js"></script>
		<script src="/static/lib/highcharts-3.0.1/js/highcharts.js"></script>
		<script src="/static/lib/highcharts-3.0.1/js/modules/exporting.js"></script>
    <script src="/static/lib/sortable.js"></script>

		<!-- Favicon -->
		<link rel="shortcut icon" href="/static/images/favicon.ico">
	</head>

	<body>
		<div id="wrap">
			<div class="navbar navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container">
						<a class="brand" href="/dashboard/">oracle &middot; dashboard</a>
						<div class="nav">
							<ul class="nav">
								{% block navbar %} {% endblock %}
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="container container-narrow">
				{% block content %}{% endblock %}
			</div>
			<div id="push"></div>
		</div>

		<div id="footer">
			<div class="container">
				<p class="muted credit">
					Team members: <a href="mailto:xinyusoc@gmail.com">Xinyu Li</a>, <a href= "mailto:houli@nus.edu.sg">Hou Li</a>, <a href="mailto:wj.arsenal.faith@gmail.com">Jun Wu</a> and <a href="mailto:jeremie@miserez.org">Jeremie Miserez</a>
				</p>
			</div>
		</div>

		{% block js %}{% endblock %}
	</body>
</html>
