{% extends "base.html" %}

{% block title %} - Welcome{% endblock %}

{% block navbar %} 
{% with active='home' %} 
{% include "navbar.html" %}
{% endwith %}
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>Welcome to oracle &middot; dashboard!</h1>
</div>
<p class="lead">
	Pick one of the options from the Dashboard dropdown menu to get started.
</p>
Or visit the <a href="/dashboard/about">about page</a> to learn more about this project.
{% endblock %}
