{% if active = 'home' %}
<li class="active">
{% else %}
<li>
{% endif %}
	<a href="/dashboard/"><i class="icon-home"></i> Home</a>
</li>
{% if active = 'about' %}
<li class="active">
{% else %}
<li>
{% endif %}
	<a href="/dashboard/about"><i class="icon-info-sign"></i> About</a>
</li>
{% if active = 'dropdown' %}
<li class="dropdown active">
{% else %}
<li class="dropdown">
{% endif %}
	<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-tasks"></i> Dashboards <b class="caret"></b></a>
	<ul class="dropdown-menu">
		<li>
			<a href="/dashboard/add"><i class="icon-plus-sign"></i> Add new dashboard...</a>
		</li>
		<li class="divider"></li>
		<li class="nav-header">
			Active dashboards 
		</li>
		{% for entry in dashboards %}
			{% if entry.active and not entry.deleted %}
			<li>
				<a href="/dashboard/{{entry.id}}">{{ entry }}</a>
			</li>
			{% endif %}
		{% endfor %}
		<li class="nav-header">
			Inactive dashboards
		</li>
		{% for entry in dashboards %}
			{% if not entry.active and not entry.deleted %}
			<li>
				<a href="/dashboard/{{entry.id}}">{{ entry }}</a>
			</li>
			{% endif %}
		{% endfor %}
	</ul>
</li>