{% extends "base.html" %}

{% block title %} - {{ dash }} {% endblock %}

{% block navbar %}
{% with active='dropdown' %}
{% include "navbar.html" %}
{% endwith %}
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>{{ dash.name }} <span class="inline pull-right">
		<form class="form-inline" id="changestateform" action="/dashboard/{{dash.id}}/change_state" method="post">
			{% csrf_token %}
			{% for hidden in form.hidden_fields %}
			{{ hidden }}
			{% endfor %}
			<input id="changestateaction" name="changestateaction" {% if dash.active %}value="stop"{% else %}value="start"{% endif %} type="hidden" />
			<div class="btn-group">
				{% if dash.active %}
				<button type="button" id="stoplink" class="btn btn-danger">
					Stop monitoring
				</button>
				{% else %}
				<button type="button" id="startlink" class="btn btn-success">
					Start monitoring
				</button>
				{% endif %}
				<button class="btn {% if dash.active %}btn-danger{% else %}btn-success{% endif %} dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li>
						<a onclick="$('#changestateaction').val('sync'); $('#changestateform').submit()"><i class="icon-refresh"></i> Sync dashboard state with backend</a>
					</li>
					<li class="divider"></li>
					<li>
						<a onclick="$('#changestateaction').val('delete'); $('#changestateform').submit()"><i class="icon-trash"></i> Delete dashboard</a>
					</li>
					<li class="divider"></li>
					<li>
						<a id="checkconnectionlink"><i class="icon-globe"></i> Check connection</a>
					</li>
				</ul>
			</div>
		</form> </span></h1>
	<p class="lead">
		({{ dash.tnsHumanReadableString }})
	</p>
	<p class="lead">
		<div class="alert alert-{{top_color}}">
			{% if top_color == 'error' %}
			<h4>Serious issues found</h4> Serious issues were found. See the the suggestions for each problem to learn more.
			{% elif top_color == 'block' %}
			<h4>Minor issues found</h4> Minor issues were found. See the the suggestions for each problem to learn more.
			{% elif top_color == 'info' %}
			<h4>No data available</h4> Before evaluating data, a monitoring job must first be started.
			{% else %}
			<h4>No issues found</h4> Everything looks great!
			{% endif %}
		</div>
	</p>

	<ul class="nav nav-pills">
		<li class="active">
			<a id="taboverview" href="#overview" data-toggle="tab"><i class="icon-info-sign"></i> Overview</a>
		</li>
		<li>
			<a id="tabreports" href="#reports" data-toggle="tab"><i class="icon-zoom-in"></i> Status reports</a>
		</li>
		<li>
			<a id="tabqueries" href="#queries" data-toggle="tab"><i class="icon-list-alt"></i> Queries and Sessions</a>
		</li>
		<li>
			<a id="tabdebug" href="#debug" data-toggle="tab"><i class="icon-eye-open"></i> SQL Debug</a>
		</li>
		<li>
			<a id="tabsettings" href="#settings" data-toggle="tab"><i class="icon-wrench"></i> Settings</a>
		</li>
	</ul>
	<div class="tab-content">

		<div class="tab-pane fade active in" id="overview">
						<div id="overview-loadinggif"><img src="/static/images/loading.gif" /></div>
            <div class="overview-graph" id="overview-graph">
            </div>
			{% regroup suggestions by heading as heading_list %}
			{% for entry in heading_list %}
			<h4>{{ entry.grouper }}</h4>
			<hr />
			{% for item in entry.list %}
			<div class="alert alert-{{item.color}}">
				<h4>{{item.title}}</h4>
				{% if item.suggestion|default_if_none:'none' == 'none' %}
					{% if item.color == 'info' %}
						No data available
					{% else %}
						No issues found
					{% endif %}
				{% else %}
				<dl class="dl-horizontal">
					<dt>
						Problem:
					</dt>
					<dd>
						{{item.suggestion.PROBLEM_DESCRIPTION}}
					</dd>
					<dt>
						Solution:
					</dt>
					<dd>
						{{item.suggestion.SOLUTION}}
					</dd>
					<dt>
						Query:
					</dt>
					<dd>
						{{item.suggestion.QUERY}}
					</dd>
					<dt>
						init.ora parameter:
					</dt>
					<dd>
						{{item.suggestion.INIT_PARAMETER}}
					</dd>
					<dt>
						Reference:
					</dt>
					<dd>
						<a href="{{item.suggestion.REFERENCE}}">{{item.suggestion.REFERENCE}}</a>
					</dd>
				</dl>
				{% endif %}
			</div>
			{% endfor %}
			{% endfor %}
		</div>
		<div class="tab-pane fade" id="reports">
			<form id="ondemandform" action="/dashboard/{{dash.id}}/generate_ondemand" method="post">
			<div class="well">
				{% csrf_token %}
					{{ ondemandform.non_field_errors }}
					{% for hidden in ondemandform.hidden_fields %}
					{{ hidden }}
					{% endfor %}
					<table class="table">
						{% for field in ondemandform.visible_fields %}
						{% if forloop.counter0|divisibleby:2 %}
						<tr>
							<td> <label for="{{field.auto_id}}">{{field.label}}:</label> {{ field|safe }}
							{{ field.errors }}
							</td>
						{% else %}	
							<td><label for="{{field.auto_id}}">{{field.label}}:</label>
							{{ field|safe }}
							{{ field.errors }} </td>
						</tr>
						{% endif %}
						{% endfor %}
					</table>
				<div class="clearfix"></div>
				<button class="btn btn-primary pull-right" type="submit">
					Generate on-demand report
				</button>
				<div class="clearfix"></div>
			</div>
			</form>
<p>Click the columns to view details. Click anywhere inside the chart to return back to overview.</p>
			{% regroup charts by heading as heading_list %}
			{% for chartheadings in heading_list %}
			<h4>{{ chartheadings.grouper }}</h4>
			<hr />
			{% for chart in chartheadings.list %}
			<div class="chart" id="{{chart.tag}}">
			</div>
			{% endfor %}
			{% endfor %}

		</div>
		<div class="tab-pane fade" id="queries">
			<div id="sortableouterwrap">
                <h4>Low Efficiency Queries</h4><hr />
                <div class="sortablewrapper">
                <table cellpadding="0" cellspacing="0" border="0" class="sortable" id="sorter1">
                    <tr>
                        <th class="nosort">ID</th>
                        <th>SID</th>
                        <th>SPID</th>
                        <th>SQL</th>
                        <th>BUFFER_PER_EXEC</th>
                        <th>CPU_TIME_PER_EXEC</th>
                        <th>CPU_TIME</th>
                        <th>ELAPSED_TIME</th>
                        <th>DISK_READS</th>
                    </tr>
                    {% for data in low_sql %}
                        <tr>
                            <td>{{ data.ID }}</td>
                            <td>{{ data.SID }}</td>
                            <td>{{ data.SPID }}</td>
                            <td title="{{ data.SQL_TEXT }}">{{ data.SQL_TEXT|slice:":20" }}</td>
                            <td>{{ data.BUFFER_PER_EXEC }}</td>
                            <td>{{ data.CPU_TIME_PER_EXEC }}</td>
                            <td>{{ data.CPU_TIME }}</td>
                            <td>{{ data.ELAPSED_TIME }}</td>
                            <td>{{ data.DISK_READS }}</td>
                        </tr>
                    {% endfor %}
                </table>
                </div>
                <h4>Long Run Queries</h4><hr />
                <div class="sortablewrapper">
                <table cellpadding="0" cellspacing="0" border="0" class="sortable" id="sorter2">
                    <tr>
                        <th class="nosort">ID</th>
                        <th>SID</th>
                        <th>TOTAL WORKS</th>
                        <th>SQL</th>
                    </tr>
                    {% for data in long_sql %}
                        <tr>
                            <td>{{ data.ID }}</td>
                            <td>{{ data.SID }}</td>
                            <td>{{ data.TOTALWORK }}</td>
                            <td>{{ data.SQL_TEXT }}</td>
                        </tr>
                    {% endfor %}
                </table>
                </div>
                <h4>CPU Intensive Sessions</h4><hr />
                <div class="sortablewrapper">
                <table cellpadding="0" cellspacing="0" border="0" class="sortable" id="sorter3">
                    <tr>
                        <th class="nosort">ID</th>
                        <th>SID</th>
                        <th>SPID</th>
                        <th>STATUS</th>
                        <th>PROG</th>
                        <th>OSUSER</th>
                        <th>VALUE</th>
                    </tr>
                    {% for data in cpu_intensive %}
                        <tr>
                            <td>{{ data.ID }}</td>
                            <td>{{ data.SID }}</td>
                            <td>{{ data.SPID }}</td>
                            <td>{{ data.STATUS }}</td>
                            <td>{{ data.PROG }}</td>
                            <td>{{ data.OSUSER }}</td>
                            <td>{{ data.VALUE }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
		</div>
<div class="tab-pane fade" id="debug">
			<div class="well">
				<label>SQL to execute on remote database:</label>
				<textarea rows="3" id="sqldebugtext" style="margin: 5 auto; width: 100%" placeholder="Enter a valid SQL statement (start typing for autocomplete)"></textarea>
				<button id="sqldebugbutton" type="button" class="btn btn-primary pull-right">
					Execute...
				</button>
				<div class="clearfix"></div>
			</div>
			<div id="sqldebugoutput">
					{% for history in sqlhistory %}
					<pre>SQL> {{history.cmd}}
					
					{{history.answer}}</pre>
					{% endfor %}
			</div>
		</div>
		<div class="tab-pane fade" id="settings">
			<form class="form-horizontal" id="settingsform" action="/dashboard/{{dash.id}}/save_settings" method="post">
				<div class="well">
					{% csrf_token %}
					{{ settingsform.non_field_errors }}
					{% for hidden in settingsform.hidden_fields %}
					{{ hidden }}
					{% endfor %}
					<table class="table">
						{% for field in settingsform.visible_fields %}
						{% if forloop.counter0|divisibleby:2 %}
						<tr>
							{% if forloop.counter0 == 0 %}
							<td> {% else %} <td colspan="2"> {% endif %} <label for="{{field.auto_id}}">{{field.label}}:</label> {{ field|safe }}
							{{ field.errors }}
							{% if forloop.counter0 == 0 %} </td>
							{% endif %}
							{% else %}
							{% if forloop.counter0 == 1 %}
							<td><label for="{{field.auto_id}}">{{field.label}}:</label> {% endif %}
							{{ field|safe }}
							{{ field.errors }} </td>
						</tr>
						{% endif %}
						{% if forloop.counter0 == 1 %}
					</table>
					<hr />
					<table class="table">
						{% endif %}
						{% endfor %}
					</table>
					<div class="clearfix"></div>
					<button type="submit" class="btn btn-primary pull-right">
						Save settings
					</button>
					<div class="clearfix"></div>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Modal -->
<div id="mymodal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="mymodallabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			×
		</button>
		<h3 id="mymodallabel">Connection check</h3>
	</div>
	<div class="modal-body">
		<div id="mymodalprogressbar" class="progress progress-striped active">
			<div class="bar" style="width: 100%;"></div>
		</div>
		<p id="mymodaltext"></p>
	</div>
	<div class="modal-footer">
		<button id="skipcheck" class="btn" aria-hidden="true">
			Skip connection check
		</button>
		<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">
			Close
		</button>
	</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
var hash = document.location.hash.split('?')[0];
var prefix = "tab_";
$('.nav-pills a').on('shown', function (e) {
    window.location.hash = e.target.hash.replace("#", "#" + prefix);
    $('#overview').removeClass('fade active in').addClass('fade');
    $('#reports').removeClass('fade active in').addClass('fade');
    $('#queries').removeClass('fade active in').addClass('fade');
    $('#debug').removeClass('fade active in').addClass('fade');
    $('#settings').removeClass('fade active in').addClass('fade');
    $(e.target.hash).addClass('fade active in');
});
if (hash) {
    $('.nav-pills a[href='+hash.replace(prefix,"")+']').tab('show');
} else {
    $('#overview').addClass('fade active in');
}
$(function () {
					$.fn.datetimepicker.defaults = {
					  maskInput: false,           // disables the text input mask
					  pickDate: true,            // disables the date picker
					  pickTime: true,            // disables de time picker
					  pick12HourFormat: false,   // enables the 12-hour format time picker
					  pickSeconds: true{% if minDate > 0 and maxDate > 0 %},         // disables seconds in the time picker
					  startDate: new Date({{ minDate }}),      // set a minimum date 
					  endDate: new Date({{ maxDate }})          // set a maximum date
						{% endif %}
					};
        
        $('#taboverview a').click(function (e) {
          e.preventDefault();
          $(this).tab('show');
        });
        $('#tabreports a').click(function (e) {
          e.preventDefault();
          $(this).tab('show');
        });
        $('#tabqueries a').click(function (e) {
          e.preventDefault();
          $(this).tab('show');
        });
        $('#tabdebug a').click(function (e) {
          e.preventDefault();
          $(this).tab('show');
        });
        $('#tabsettings a').click(function (e) {
          e.preventDefault();
          $(this).tab('show');
        });
        
        $("#checkconnectionlink").click(function() {
                  $("#mymodalprogressbar").show();
                  $("#skipcheck").hide();
                  $("#mymodaltext").text("Checking connection...");
                  $("#mymodallabel").text("Connection check.");
                  $('#mymodal').modal('show');
                        $.get('/dashboard/{{dash.id}}/check', function(data) {
                                          $("#mymodalprogressbar").hide();
                                        if (data === "Ok") {
                                                        $("#mymodaltext").text("Connection test successful.");
                                                } else {
                                                        $("#mymodaltext").text("Connection test unsuccessful.");
                                                }
                });
        });
        $("#startlink").click(function() {
                  $("#mymodalprogressbar").show();
                  $("#skipcheck").show();
                  $("#skipcheck").removeAttr("disabled");     
                  $("#mymodaltext").text("Checking connection...");
                  $("#mymodallabel").text("Monitor job start");
                  $('#mymodal').modal('show');
                  $.get('/dashboard/{{dash.id}}/check', function(data) {
                                          $("#mymodalprogressbar").hide();
                                                if (data === "Ok") {
                                                  $("#skipcheck").attr("disabled", "disabled");
                                                        $("#mymodaltext").text("Connection test successful. Starting monitoring job now.");
                                                        if($('#mymodal').is(":visible")) {
                                                                $('#changestateaction').val('start'); $('#changestateform').submit();
                                                        }
                                                } else {
                                                        $("#mymodaltext").text("Connection test unsuccessful. Cannot start monitoring job.");
                                                }
                });
        });
        $("#skipcheck").click(function() {
                        $("#skipcheck").attr("disabled", "disabled");
                        $("#mymodaltext").text("Skipped connection test. Starting monitoring job now.");
                        $('#changestateaction').val('start'); $('#changestateform').submit();
        });
        $("#stoplink").click(function() {
                  $('#changestateaction').val('stop'); $('#changestateform').submit();
        });
        $(function() {
		     	$('#datetimepicker1').datetimepicker({
	                language : 'en',
			        	format: 'yyyy-MM-dd hh:mm:ss'
	        });
		    });
        
        $(function() {
	        $('#datetimepicker2').datetimepicker({
                language : 'en',
			        	format: 'yyyy-MM-dd hh:mm:ss'
      		});
        });
        var sqlhistory = [{% for history in sqlhistory %}{{history.safecmd|safe}},{% endfor %}];
        $('#sqldebugtext').focus(function() {
                $('#sqldebugtext').typeahead({
                        items : 20,
                        source : sqlhistory
                });
        });
        $("#sqldebugbutton").click(function() {
                $("#sqldebugbutton").removeClass("btn-primary");
                $("#sqldebugbutton").text("(Pending) Execute...");
                var sqlcommand = $('#sqldebugtext').val();
                console.log(sqlcommand);
                $.post('/dashboard/{{dash.id}}/execute_remote', sqlcommand, function(data) {
                        $("#sqldebugoutput").prepend('<pre>'+data+'</pre>');
                        $("#sqldebugbutton").text("Execute...");
                        $("#sqldebugbutton").addClass("btn-primary");
                        sqlhistory.push(sqlcommand);
                });
        });
      });
</script>
{% regroup charts by heading as heading_list %}
			{% for chartheadings in heading_list %}
			{% for chart in chartheadings.list %}
<script type="text/javascript">      
$(function () {
    $(document).ready(function() {
		    var chart;
		    var isdrilled = false;
		    Highcharts.setOptions({
		                global: {
		                    useUTC: false
		                }
		            });
        var colors = Highcharts.getOptions().colors,
            categories = [
            		{% for set in chart.data %}
                    '{{set.category}}',
                {% endfor %}
            ],
            name = ['{{chart.title}}'],
						data = [ {% for set in chart.data %}{
                    y: {{set.value}},
                    color: '{{ set.color }}',
                    drilldown: {
                    	 	name: '',
												categories: [
												{% for drillvalue in set.drilldown %}
                    			'{{drillvalue.category}}',
                				{% endfor %}
												],
                        series: [{
		                        type: 'column',
                            name: '',
                            data:[ {% for drillvalue in set.drilldown %}
		                        {y:{{ drillvalue.value }}, color: '{{ drillvalue.color }}'},
		                        {% endfor %}
		                        ]
                        }]
                    }
                },{% endfor %}
                ];
    
        function setChart(name, categories, data, color, type) {
            var len = chart.series.length;
            chart.xAxis[0].setCategories(categories);
            for(var i = 0; i < len; i++){
                console.log(chart.series.length);
                chart.series[0].remove();
            }
            if(data.series){
                for(var i = 0; i < data.series.length; i ++ ){
                    chart.addSeries({
                        name: data.series[i].name,
                        data: data.series[i].data,
                        type: data.series[i].type,
                        color: data.series[i].color || 'blue'
                    });
                }
            } else {
                    chart.addSeries({
                        name: name,
                        data: data,
                        type: type,
                        color: color || 'blue'
                    });
            }
        }
    
        chart = new Highcharts.Chart({
            chart: {
            	
							marginTop: 75,
                renderTo: '{{chart.tag}}',
                type: 'column',
               events: {
                            click: function() {                       
                                if(isdrilled){
                                    isdrilled = false;
                               setChart(name, categories, data);
                                }
                            }
                        }
            },
            title: {
                text: '{{chart.title}}'
            },
            subtitle: {
            		useHTML: true,
                text: '{{chart.subtitle}}<br /><br />'
            },
            legend: {
                    enabled: false
            },
            credits : {
							    enabled : false
							},
            xAxis: {
            		labels: {
                            enabled: false
                       },
                categories: categories
            },
            yAxis: {
            	labels: {
							      formatter: function() {
							             return this.value + "%";
							      }
							  },
							  min: 0,
							  max: 100,
                title: {
                    text: '{{chart.yAxisTitle}}'
                }
            },
            plotOptions: {
                column: {
                    cursor: 'pointer',
                    point: {
                        events: {
                            click: function() {
                                var drilldown = this.drilldown;
                                if (drilldown) { // drill down
                                    isdrilled = true;
                                    setChart(null, drilldown.categories, drilldown, drilldown.type);
                                } else { // restore
                                    isdrilled = false;
                                    setChart(name, categories, data, 'column');
                                }
                            }
                        }
                    },
                    dataLabels: {
                        enabled: true,
                        color: colors[0],
                        style: {
                            fontWeight: 'bold'
                        },
                        formatter: function() {
                            return this.y +'%';
                        }
                    }
                }
                // ,spline: {
                    // cursor: 'pointer',
                    // point: {
                        // events: {
                            // click: function() {
                                // setChart(name, categories, data, 'column');
                            // }
                        // }
                    // },
                    // dataLabels: {
                        // enabled: true,
                        // color: colors[0],
                        // style: {
                            // fontWeight: 'bold'
                        // },
                        // formatter: function() {
                            // return this.y + '%';
                        // }
                    // }
                // }
            },
            tooltip: {
                formatter: function() {
                    var point = this.point,
                        s = 'Aggregation end time: <b>' + this.x + '</b><br/>Value: <b>'+ this.y +'% {{chart.tooltip}}</b><br/>';
                    if (point.drilldown) {
                        s += '<br/><i>Click to view drilldown</i>';
                    } else {
                        s += '<br/><i>Click to return to overview</i>';
                    }
                    return s;
                }
            },
            series: [{
                name: name,
                data: data,
                color: 'blue'
            }],
            exporting: {
                enabled: false
            }
        });
    });
    
});
</script>
			{% endfor %}
			{% endfor %}
<script type="text/javascript">
    var updateInterval = {{dash.shortIntervalMinutes}}*60000; //ms
    var job_id = {{dash.id}};

    $(function () {
        $(document).ready(function() {
        	
            Highcharts.setOptions({
                global: {
                    useUTC: false
                }
            });
						var mySeries = [];
						mySeries.length = 7;
						var tryInitializeChart = function() {
							//initializes the chart after all 7 series are loaded
							if(!mySeries[0] || !mySeries[1] || !mySeries[2] || !mySeries[3] || !mySeries[4] || !mySeries[5] || !mySeries[6]) {
		          	//pass
		        	} else {
		          	var chart;
		          	$('#overview-loadinggif').hide();
		            $('#overview-graph').highcharts({
		                chart: {
		                		credits : {
									    enabled : false
									},
		                    type: 'spline',
		                    zoomType: 'x',
		                    animation: Highcharts.svg, // don't animate in old IE
		                    marginRight: 10,
		                     events: {
		                         load: function() {
		                            // set up the updating of the chart each second
                                    var series = this.series;
		                            setInterval(function() {
                                         for(var i = 0; i<series.length; i++){
                                             jQuery.ajax({
                                                 type:"GET",
                                                 url:"/dashboard/latest-stats/",
                                                 data:{
                                                     job_id: job_id,
                                                     stat_id: i+1,
                                                     interval: updateInterval/1000
                                                 },
                                                 statusCode: {
                                                     200: function(data){
                                                         if (data.length == 0) return;
                                                         var x = (new Date(data[0].time)).getTime(), y = data[0].value;
                                                         //series.addPoint([x,y]);
                                                         series[i].addPoint([x,y]);
                                                     }
                                                 },
                                                 error: function(){
                                                     console.log("ajax load error");
                                                 },
                                                 async:   false
                                             });
                                         }//addPoint([x, y], true, true);
		                            }, updateInterval);
		                         }
		                     }
		                },
		                title: {
		                    text: 'Oracle Instance Overview'
		                },
		                xAxis: {
		                    type: 'datetime',
		                    tickPixelInterval: 150
		                },
		                yAxis: {
		                    title: {
		                        text: 'Percentage'
		                    },
		                    plotLines: [{
		                        value: 0,
		                        width: 1,
		                        color: '#808080'
		                    }]
		                },
		                tooltip: {
		                    formatter: function() {
		                        return '<b>'+ this.series.name +'</b><br/>'+
		                                Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) +'<br/>'+
		                                Highcharts.numberFormat(this.y, 2);
		                    }
		                },
		                legend: {
		                    enabled: true
		                },
		                exporting: {
		                    enabled: false
		                },
		                credits: {
		                    enabled: false
		                },
		                series: mySeries
		            });
							}
						};
            var myLoadFun = function(myName, myId) {
                            var input_data = [],
                                    time = (new Date()).getTime(),
                                    i;
                            jQuery.ajax({
                                type:"GET",
                                url:"/dashboard/stats/",
                                data:{
                                    job_id: job_id,
                                    stat_id: myId,
                                    interval: updateInterval/1000
                                },
                                statusCode: {
                                    200: function(data){
                                        if (data.length == 0) {
	                                        	mySeries[myId-1] = {
	                                        	name: myName,
	                                        	data: []
                                        	};
                                        	tryInitializeChart();     
                                        }

                                        for(var i = 0; i<data.length; i++){
                                            input_data.push({
                                                x: (new Date(data[i].time)).getTime(),
                                                y: data[i].value
                                            });
                                        }
                                        mySeries[myId-1] = {
                                        	name: myName,
                                        	data: input_data
                                        };
                                        tryInitializeChart();                                        
                                    }
                                },
                                error: function(){
                          					mySeries[myId-1] = {
                                    	name: myName,
                                    	data: []
                                  	};
                                  	tryInitializeChart();     
                                    //alert("error");
                                },
                                async:   true
                            });
                            
                        };
            myLoadFun('Buffer Cache Hit Ratio', 1);
						myLoadFun('Library Cache Hit Ratio', 2);
						myLoadFun('Data Dictionary Cache Hit Ratio', 3);
						myLoadFun('Shared Pool Gross Usage', 4);
						myLoadFun('Shared Pool Hard Parse Ratio', 5);
						myLoadFun('Redo Log Buffer Entries Hit Ratio', 6);
						myLoadFun('Memory Sort sorts(disk)/sorts(disk)+sorts(memory)', 7);
					
        });

    });
</script>
<script type="text/javascript">
    var sorter1=new table.sorter("sorter1");
    sorter1.init("sorter1",1);
    var sorter2=new table.sorter("sorter2");
    sorter2.init("sorter2",1);
    var sorter3=new table.sorter("sorter3");
    sorter3.init("sorter3",1);
</script>
{% endblock %}

